.colors-dark html,
.colors-dark body {
  background-color: #414141;
  color: #c4c4c4;
}
.colors-dark .badge {
  background-color: #626262;
}
.colors-dark .addEdit .btn:hover,
.colors-dark .details .btn:hover,
.colors-dark .addEdit .btn:focus,
.colors-dark .details .btn:focus {
  background-color: #363636;
}
.colors-dark .addEdit .btn.generate,
.colors-dark .details .btn.generate {
  background-color: #4a4a4a;
}
.colors-dark .addEdit .contents .password,
.colors-dark .details .contents .password {
  background-color: #4a4a4a;
}
.colors-dark .addEdit .contents .password,
.colors-dark .details .contents .password,
.colors-dark .addEdit .contents .details,
.colors-dark .details .contents .details {
  border-color: #525252;
}
.colors-dark .addEdit .location select,
.colors-dark .details .location select {
  background-color: #4a4a4a;
  color: #eee;
}
.colors-dark .addEdit .location .path,
.colors-dark .details .location .path {
  background-color: #4a4a4a;
  border-color: #525252;
  color: #c4c4c4;
}
.colors-dark .addEdit .actions .save,
.colors-dark .details .actions .save {
  background-color: #186029;
  border: 2px solid #c3e6cb;
  color: #dcffe4;
}
.colors-dark .addEdit .actions .delete,
.colors-dark .details .actions .delete {
  background-color: #540000;
  border: 2px solid #f5c6cb;
  color: #ffd6d9;
}
.colors-dark .addEdit .actions .save:hover,
.colors-dark .details .actions .save:hover,
.colors-dark .addEdit .actions .delete:hover,
.colors-dark .details .actions .delete:hover {
  box-shadow: 1px 1px 2px rgba(245, 245, 245, 0.7);
}
.colors-dark .addEdit label,
.colors-dark .details label {
  background-color: #afafaf;
  color: #414141;
}
.colors-dark .addEdit input[type="number"],
.colors-dark .details input[type="number"],
.colors-dark .addEdit input[type="text"],
.colors-dark .details input[type="text"],
.colors-dark .addEdit textarea,
.colors-dark .details textarea {
  background-color: #4a4a4a;
  border-color: #525252;
  color: #c4c4c4;
}
.colors-dark .part.error {
  color: #f00;
}
.colors-dark .part.add {
  background-color: #414141;
}
.colors-dark .part.add:hover,
.colors-dark .part.add:focus {
  outline: none;
  background-color: #363636;
}
.colors-dark .part.details .part.snack {
  background-color: #4a4a4a;
  border-color: #525252;
}
.colors-dark .part.details .part.snack .label {
  background-color: #afafaf;
  color: #414141;
}
.colors-dark .part.details .part.snack .progress-container {
  background: transparent;
}
.colors-dark .part.details .part.snack .progress-container .progress {
  background-color: #bd861a;
}
.colors-dark .part.details .part.raw textarea {
  background-color: #4a4a4a;
  border-color: #525252;
  color: #c4c4c4;
}
.colors-dark .char.num,
.colors-dark .char.punct {
  color: #d79921;
}
.colors-dark .part.search {
  background-color: #4a4a4a;
}
.colors-dark .part.search:focus-within {
  background-color: #4f4f4f;
}
.colors-dark .part.search > .hint {
  background-color: #d79921;
  color: #363636;
}
.colors-dark .part.search > input[type="text"] {
  background-color: transparent;
  color: #eee;
}
.colors-dark .part.search > input[type="text"]::placeholder {
  color: #a0a0a0;
}
.colors-dark .logins:not(:hover):not(:focus-within) .part.login:first-child > .name {
  background-color: #393939;
}
.colors-dark .part.login:not(.details-header) > .name:hover,
.colors-dark .part.login:not(.details-header) > .name:focus,
.colors-dark .part.login:not(.details-header) > .action:hover,
.colors-dark .part.login:not(.details-header) > .action:focus,
.colors-dark .part.login:not(.details-header):focus > .name {
  background-color: #363636;
}
.colors-dark .part.login em {
  background-color: transparent;
  color: #d79921;
}
.colors-dark .updates {
  border-top: 1px solid #363636;
}
.colors-dark .updates span,
.colors-dark .updates a {
  color: #f00;
}
.colors-dark .m-notifications .m-notification:hover {
  box-shadow: 1px 1px 2px rgba(245, 245, 245, 0.7);
}
.colors-dark .m-notifications .m-notification.info {
  color: #aaf3ff;
  background-color: #0c525e;
  border: 1px solid #bee5eb;
}
.colors-dark .m-notifications .m-notification.warning {
  color: #fff3d1;
  background-color: #684e03;
  border: 1px solid #ffeeba;
}
.colors-dark .m-notifications .m-notification.error {
  color: #ffd6d9;
  background-color: #540000;
  border: 1px solid #f5c6cb;
}
.colors-dark .m-notifications .m-notification.success {
  color: #dcffe4;
  background-color: #186029;
  border: 1px solid #c3e6cb;
}
.colors-dark div#tree-dirs div.dropdown a {
  background-color: #2e2e2e;
  color: #fff;
}
.colors-dark div#tree-dirs div.dropdown a:hover,
.colors-dark div#tree-dirs div.dropdown a:focus-visible {
  filter: invert(15%);
  outline: none;
}
.colors-dark dialog#browserpass-modal {
  color: #aaf3ff;
  background-color: #0c525e;
  border: 3px solid #bee5eb;
}
.colors-dark dialog#browserpass-modal button {
  color: #fff3d1;
  background-color: #684e03;
  border: 1px solid #ffeeba;
}
.colors-dark dialog#browserpass-modal button:hover {
  box-shadow: 1px 1px 2px rgba(245, 245, 245, 0.7);
}
.colors-dark .details .loading {
  background: url(/popup/page-loader-dark.gif) center no-repeat;
  background-size: 150px;
  background-position-y: 50px;
}
.colors-light html,
.colors-light body {
  background-color: #f1f3f5;
  color: #343a40;
}
.colors-light .badge {
  background-color: #b8b8b8;
}
.colors-light .addEdit .btn:hover,
.colors-light .details .btn:hover,
.colors-light .addEdit .btn:focus,
.colors-light .details .btn:focus {
  background-color: #ced4da;
}
.colors-light .addEdit .btn.generate,
.colors-light .details .btn.generate {
  background-color: #ffffff;
}
.colors-light .addEdit .contents .password,
.colors-light .details .contents .password {
  background-color: #ffffff;
}
.colors-light .addEdit .contents .password,
.colors-light .details .contents .password,
.colors-light .addEdit .contents .details,
.colors-light .details .contents .details {
  border-color: #7a7a7a;
}
.colors-light .addEdit .location select,
.colors-light .details .location select {
  background-color: #eaeef1;
  color: #343a40;
}
.colors-light .addEdit .location .path,
.colors-light .details .location .path {
  background-color: #ffffff;
  border-color: #7a7a7a;
  color: #343a40;
}
.colors-light .addEdit .actions .save,
.colors-light .details .actions .save {
  background-color: #d4edda;
  border: 2px solid #c3e6cb;
  color: #155624;
}
.colors-light .addEdit .actions .delete,
.colors-light .details .actions .delete {
  background-color: #f8d7da;
  border: 2px solid #f5c6cb;
  color: #721c24;
}
.colors-light .addEdit .actions .save:hover,
.colors-light .details .actions .save:hover,
.colors-light .addEdit .actions .delete:hover,
.colors-light .details .actions .delete:hover {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
.colors-light .addEdit label,
.colors-light .details label {
  background-color: #7a7a7a;
  color: #f1f3f5;
}
.colors-light .addEdit input[type="number"],
.colors-light .details input[type="number"],
.colors-light .addEdit input[type="text"],
.colors-light .details input[type="text"],
.colors-light .addEdit textarea,
.colors-light .details textarea {
  background-color: #ffffff;
  border-color: #7a7a7a;
  color: #343a40;
}
.colors-light .part.error {
  color: #e03131;
}
.colors-light .part.add {
  background-color: #f1f3f5;
}
.colors-light .part.add:hover,
.colors-light .part.add:focus {
  outline: none;
  background-color: #ced4da;
}
.colors-light .part.details .part.snack {
  background-color: #ffffff;
  border-color: #7a7a7a;
}
.colors-light .part.details .part.snack .label {
  background-color: #7a7a7a;
  color: #f1f3f5;
}
.colors-light .part.details .part.snack .progress-container {
  background: transparent;
}
.colors-light .part.details .part.snack .progress-container .progress {
  background-color: #c7d5ff;
}
.colors-light .part.details .part.raw textarea {
  background-color: #ffffff;
  border-color: #7a7a7a;
  color: #343a40;
}
.colors-light .char.num,
.colors-light .char.punct {
  color: #1873ea;
}
.colors-light .part.search {
  background-color: #eaeef1;
}
.colors-light .part.search:focus-within {
  background-color: #e8ebee;
}
.colors-light .part.search > .hint {
  background-color: #1c7ed6;
  color: #e7f5ff;
}
.colors-light .part.search > input[type="text"] {
  background-color: transparent;
  color: #343a40;
}
.colors-light .part.search > input[type="text"]::placeholder {
  color: #868e96;
}
.colors-light .logins:not(:hover):not(:focus-within) .part.login:first-child > .name {
  background-color: #d8dee3;
}
.colors-light .part.login:not(.details-header) > .name:hover,
.colors-light .part.login:not(.details-header) > .name:focus,
.colors-light .part.login:not(.details-header) > .action:hover,
.colors-light .part.login:not(.details-header) > .action:focus,
.colors-light .part.login:not(.details-header):focus > .name {
  background-color: #ced4da;
}
.colors-light .part.login em {
  background-color: #cfecff;
  color: #1873ea;
}
.colors-light .updates {
  border-top: 1px solid #ced4da;
}
.colors-light .updates span,
.colors-light .updates a {
  color: #e03131;
}
.colors-light .m-notifications .m-notification:hover {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
.colors-light .m-notifications .m-notification.info {
  color: #0c525e;
  background-color: #d1ecf1;
  border: 1px solid #bee5eb;
}
.colors-light .m-notifications .m-notification.warning {
  color: #684e03;
  background-color: #fff3cd;
  border: 1px solid #ffeeba;
}
.colors-light .m-notifications .m-notification.error {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
}
.colors-light .m-notifications .m-notification.success {
  color: #155624;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
}
.colors-light div#tree-dirs div.dropdown a {
  background-color: #464545;
  color: #fff;
}
.colors-light div#tree-dirs div.dropdown a:hover,
.colors-light div#tree-dirs div.dropdown a:focus-visible {
  filter: invert(15%);
  outline: none;
}
.colors-light dialog#browserpass-modal {
  color: #0c525e;
  background-color: #d1ecf1;
  border: 3px solid #bee5eb;
}
.colors-light dialog#browserpass-modal button {
  color: #684e03;
  background-color: #fff3cd;
  border: 1px solid #ffeeba;
}
.colors-light dialog#browserpass-modal button:hover {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
.colors-light .part.login .name .line1 .recent,
.colors-light .part.login .action.copy-password,
.colors-light .part.login .action.copy-user,
.colors-light .part.login .action.details,
.colors-light .part.login .action.edit,
.colors-light .part.login .action.save,
.colors-light .part.login .action.delete,
.colors-light .part.details .action.copy,
.colors-light .title .btn.back,
.colors-light .title .btn.save,
.colors-light .title .btn.edit {
  filter: invert(85%);
}
.colors-light .part.login .name .line1 .recent:focus,
.colors-light .part.login .name .line1 .recent:hover,
.colors-light .part.login .action.copy-password:focus,
.colors-light .part.login .action.copy-password:hover,
.colors-light .part.login .action.copy-user:focus,
.colors-light .part.login .action.copy-user:hover,
.colors-light .part.login .action.details:focus,
.colors-light .part.login .action.details:hover,
.colors-light .title .btn.back:focus,
.colors-light .title .btn.back:hover,
.colors-light .title .btn.save:focus,
.colors-light .title .btn.save:hover,
.colors-light .title .btn.edit:focus,
.colors-light .title .btn.edit:hover {
  background-color: #0c0804;
}
.colors-light .part.details .part.snack.line-otp {
  background: transparent;
}
.colors-light .part.details .part.snack .progress-container {
  background-color: #ffffff;
  z-index: -1;
  margin-top: -4px;
  height: 34px;
}
.colors-light .details .loading {
  background: url(/popup/page-loader.gif) center no-repeat;
  background-size: 150px;
  background-position-y: 50px;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), url("/fonts/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), url("/fonts/OpenSans-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
  src: local("Source Code Pro"), url("/fonts/SourceCodePro-Regular.ttf") format("truetype");
}
html,
body {
  font-family: "Open Sans";
  font-size: 14px;
  margin: 0;
  padding: 0;
  min-width: 260px;
  overflow-x: hidden;
  white-space: nowrap;
  width: min-content;
}
@media (min-resolution: 192dpi) {
  html,
  body {
    font-weight: 300;
  }
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}
body {
  display: flex;
  flex-direction: column;
}
.logins {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: inherit;
  max-height: 371px;
}
.badge {
  display: flex;
  align-items: center;
  border-radius: 4px;
  font-size: 12px;
  margin-right: 8px;
  padding: 1px 4px;
}
.details .header {
  display: flex;
  margin-bottom: 4px;
}
.part {
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  width: 100%;
}
.part:last-child {
  border-bottom: none;
}
.part > .badge:first-child {
  margin-left: 0;
}
.part.error {
  white-space: normal;
  padding: 7px;
}
.part.notice {
  white-space: normal;
  padding: 7px;
}
.part.details {
  flex-direction: column;
  padding: 5px 10px 10px;
}
.part.details > .part {
  display: flex;
  margin-bottom: 11px;
}
.part.details > .part:last-child {
  margin-bottom: 0;
}
.part.details > .part.snack {
  border: 1px solid;
  border-radius: 2px;
  height: 36px;
  padding: 4px;
}
.part.details > .part.snack .char {
  white-space: pre;
}
.part.details > .part.snack > .label {
  border-radius: 2px 0 0 2px;
  cursor: default;
  display: flex;
  flex-grow: 0;
  font-weight: bold;
  justify-content: flex-end;
  margin: -5px 8px -5px -5px;
  padding: 4px 8px 4px 4px;
  width: 3.25em;
}
.part.details > .part.snack > :not(.label) {
  display: flex;
  align-items: center;
  font-family: Source Code Pro, monospace;
}
.part.details > .part.snack > .copy,
.part.details > .part.snack > .generate {
  cursor: pointer;
  flex-grow: 0;
  padding: 0 24px 0 0;
  background-position: top 4px right 4px;
  background-repeat: no-repeat;
  background-size: 16px;
  margin: 2px;
}
.part.details > .part.snack > .copy {
  background-image: url("/popup/icon-copy.svg");
}
.part.details > .part.snack > .generate {
  background-image: url("/popup/icon-generate.svg");
}
.part.details > .part.snack > .progress-container {
  z-index: 2;
  position: absolute;
  margin: 30px 0 -4px calc(3.25em + 7px);
  height: 1px;
  width: calc(100% - 6.5em + 12px);
}
.part.details > .part.snack > .progress-container > .progress {
  height: 100%;
  margin: 0;
}
.part.details > .part.raw textarea {
  border: 1px solid;
  border-radius: 2px;
  flex-grow: 1;
  font-family: Source Code Pro, monospace;
  min-height: 110px;
  min-width: 340px;
  outline: none;
  padding: 10px;
  white-space: pre;
}
.part.details > .part > * {
  flex-grow: 1;
  align-items: center;
}
.part.search {
  padding: 6px 28px 6px 6px;
  background-image: url("/popup/icon-search.svg");
  background-position: top 6px right 6px;
  background-repeat: no-repeat;
  background-size: 18px;
}
.part.search > .hint {
  line-height: 19px;
}
.part.search > .hint > .remove-hint {
  background-image: url("/popup/icon-bs-delete.svg");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  height: 12px;
  margin: 3px 0 3px 4px;
  width: 16px;
}
.part.search > input[type="text"] {
  border: none;
  outline: none;
  width: 100%;
  font-family: "Open Sans";
}
.part.search > input[type="text"]::placeholder {
  opacity: 1;
}
.part.login > .name:hover,
.part.login > .name:focus,
.part.login > .action:hover,
.part.login > .action:focus,
.part.login:focus > .name {
  outline: none;
}
.part.login {
  display: flex;
  align-items: center;
  height: 53px;
}
.part.login.details-header {
  height: calc(53px + 6px);
  padding: 0 4px;
  outline: none;
}
.part.login:not(.details-header) {
  cursor: pointer;
}
.part.login:hover,
.part.login:focus {
  outline: none;
}
.part.login .name {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 41px;
  padding: 6px;
}
.part.login .name .line1 {
  display: flex;
  flex-direction: row;
  font-size: 12px;
}
.part.login .name .line1 .recent {
  background-image: url("/popup/icon-history.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 8px;
  width: 9.5px;
  margin-top: 4px;
}
.part.login .name .line2 {
  font-size: 18px;
  margin-top: 2px;
}
.part.login .action {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 19px;
  cursor: pointer;
  width: 30px;
  height: 41px;
  padding: 6px;
}
.part.login .action.back {
  background-image: url("/popup/icon-back.svg");
}
.part.login .action.copy-password {
  background-image: url("/popup/icon-key.svg");
}
.part.login .action.copy-user {
  background-image: url("/popup/icon-user.svg");
}
.part.login .action.details {
  background-image: url("/popup/icon-details.svg");
}
.part.login .action.edit {
  background-image: url("/popup/icon-edit.svg");
}
.part.login .action.save {
  background-image: url("/popup/icon-save.svg");
}
.part.login .action.delete {
  background-image: url("/popup/icon-delete.svg");
}
.part.login em {
  font-style: normal;
}
.part.add {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  height: 30px;
}
.chars {
  display: flex;
  flex-grow: 1;
  align-items: center;
  font-family: Source Code Pro, monospace;
}
.chars .char {
  white-space: pre;
}
.addEdit .loading,
.details .loading {
  width: 300px;
  height: 300px;
  display: flex;
  align-items: flex-end;
}
.addEdit .loading p,
.details .loading p {
  margin: 50px auto;
  font-size: large;
}
.addEdit .title,
.details .title {
  display: flex;
  box-sizing: border-box;
}
.addEdit .title span,
.details .title span {
  margin: auto;
}
.addEdit .btn,
.details .btn {
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  padding: 6px;
  background-size: 19px;
  height: 21px;
}
.addEdit .btn:hover,
.details .btn:hover,
.addEdit .btn:focus,
.details .btn:focus {
  outline: none;
}
.addEdit .btn.back,
.details .btn.back {
  background-image: url("/popup/icon-back.svg");
  width: 20px;
}
.addEdit .btn.edit,
.details .btn.edit {
  background-image: url("/popup/icon-edit.svg");
  width: 25px;
}
.addEdit .btn.alignment,
.details .btn.alignment {
  width: 20px;
  cursor: default;
  background: none !important;
}
.addEdit .btn.generate,
.details .btn.generate {
  width: 15px;
  padding-right: 10px;
  background-image: url("/popup/icon-generate.svg");
}
.addEdit .location,
.details .location {
  margin: 6px;
}
.addEdit .location .store,
.details .location .store,
.addEdit .location .path,
.details .location .path {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  padding-right: 5px;
}
.addEdit .location .store select,
.details .location .store select {
  border-radius: 4px;
}
.addEdit .location .storePath,
.details .location .storePath {
  margin-left: 10px;
  font-size: 12px;
}
.addEdit .location .path,
.details .location .path {
  border: 1px solid;
}
.addEdit .location .path input,
.details .location .path input {
  padding-right: 0;
}
.addEdit .location .suffix,
.details .location .suffix {
  font-size: 13px;
  font-family: Source Code Pro, monospace;
}
.addEdit .location select,
.details .location select {
  border: none;
  outline: none;
  padding: 5px;
  cursor: pointer;
}
.addEdit .location input[disabled],
.details .location input[disabled],
.addEdit .location select[disabled],
.details .location select[disabled],
.addEdit .location .suffix.disabled,
.details .location .suffix.disabled {
  color: grey;
  cursor: default;
}
.addEdit .contents,
.details .contents {
  display: flex;
  flex-direction: column;
  margin: 0 6px 5px;
}
.addEdit .contents label,
.details .contents label {
  display: flex;
  flex-grow: 0;
  justify-content: flex-end;
  font-weight: bold;
  padding: 6px 6px;
  margin-right: 8px;
  border: none;
  min-width: 55px;
}
.addEdit .contents .password,
.details .contents .password,
.addEdit .contents .options,
.details .contents .options,
.addEdit .contents .details,
.details .contents .details {
  display: flex;
  margin-bottom: 6px;
  border-radius: 2px;
}
.addEdit .contents .password,
.details .contents .password,
.addEdit .contents .details,
.details .contents .details {
  border: 1px solid;
}
.addEdit .contents .options,
.details .contents .options {
  align-items: center;
}
.addEdit .contents .options label,
.details .contents .options label {
  margin-right: 0;
}
.addEdit .contents .options input[type="checkbox"],
.details .contents .options input[type="checkbox"] {
  margin: 3px 6px;
  height: 25px;
  width: 20px;
}
.addEdit .contents .options input[type="number"],
.details .contents .options input[type="number"] {
  font-size: 12px;
  width: 40px;
  height: 20px;
}
.addEdit .actions,
.details .actions {
  display: flex;
  margin-bottom: 10px;
}
.addEdit .actions .save,
.details .actions .save,
.addEdit .actions .delete,
.details .actions .delete {
  cursor: pointer;
  font-weight: bolder;
  font-size: medium;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
}
.addEdit .actions .save::after,
.details .actions .save::after,
.addEdit .actions .delete::after,
.details .actions .delete::after {
  display: inline-block;
  width: 15px;
  margin-left: 5px;
}
.addEdit .actions .save,
.details .actions .save {
  margin-left: auto;
  margin-right: 5px;
}
.addEdit .actions .save::after,
.details .actions .save::after {
  content: url("/popup/icon-save.svg");
}
.addEdit .actions .delete,
.details .actions .delete {
  margin-left: 5px;
  margin-right: auto;
}
.addEdit .actions .delete::after,
.details .actions .delete::after {
  content: url("/popup/icon-delete.svg");
}
.addEdit input[type="number"],
.details input[type="number"],
.addEdit input[type="text"],
.details input[type="text"],
.addEdit textarea,
.details textarea {
  border: none;
  outline: none;
  width: 100%;
  font-family: "Open Sans";
  padding: 5px 8px;
  font-family: Source Code Pro, monospace;
}
.addEdit textarea,
.details textarea {
  resize: none;
  min-height: 110px;
  min-width: 340px;
}
.updates {
  padding: 6px;
}
.m-notifications {
  position: fixed;
  top: 20px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 10;
}
.m-notifications .m-notification {
  width: auto;
  margin: 0 10px 3px;
  cursor: pointer;
  animation: fade-in 0.3s;
  white-space: normal;
  overflow-wrap: anywhere;
}
.m-notifications .m-notification.destroy {
  animation: fade-out 0.3s;
}
.m-notifications .m-notification.info,
.m-notifications .m-notification.warning,
.m-notifications .m-notification.error,
.m-notifications .m-notification.success {
  padding: 0.75rem 1.25rem;
  border-radius: 0.25rem;
}
div#tree-dirs {
  position: absolute;
  overflow-y: scroll;
  max-height: 265px;
  margin-top: -8px;
}
div#tree-dirs div.dropdown {
  padding: 2px;
}
div#tree-dirs div.dropdown a {
  display: block;
  text-align: left;
  padding: 2px 6px;
}
dialog#browserpass-modal {
  margin: auto 6px;
  width: auto;
  border-radius: 0.25rem;
}
dialog#browserpass-modal .modal-content {
  margin-bottom: 15px;
  white-space: pre-wrap;
}
dialog#browserpass-modal .modal-actions {
  display: flex;
}
dialog#browserpass-modal .modal-actions button {
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 0.25rem;
}
dialog#browserpass-modal .modal-actions button.cancel {
  margin-right: auto;
}
dialog#browserpass-modal .modal-actions button.confirm {
  margin-left: auto;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
