@font-face {
  font-family: PingL;
  src: url("./public/PingL-Medium.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}
body {
  font-family: PingL, "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 328px;
  margin: 0;
}
a {
  color: #666666;
}
p {
  margin: 0;
}

.title-bar {
  height: 48px;
  width: 100%;
  background: url(./public/karoo-dashboard-logo@2x.png) center / 174px 10px
    no-repeat;
  background-color: black;
}
.popup-body {
  padding: 4px 0px;
  text-align: center;
}
.text-block {
  margin: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  opacity: 0.87;
}

.LoginForm {
  margin-top: 20px;
}
.LoginForm input,
.LoginForm button {
  width: 264px;
  font-size: 14px;
  font-family: PingL;
}
.LoginForm input {
  height: 36px;
  margin-bottom: 12px;
  border: unset;
  border-bottom: 1px solid #252c33;
  border-radius: unset;
  box-shadow: unset;
}
.LoginForm button {
  height: 48px;
  font-weight: bold;
  letter-spacing: 0.32px;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffe900;
  border: none;
  cursor: pointer;
}

a#route-link {
  display: block;
  color: inherit;
  text-decoration: inherit;
}
.RouteCard {
  width: 272px;
  text-align: left;
  background-color: white;
  padding: 8px;
  margin: auto;
  border-radius: 4px;
  box-shadow: 0px 9px 20px rgba(0, 0, 0, 0.11);
}
.RouteCard #route-image {
  width: 272px;
  height: 168px;
}
.RouteCard .details-panel {
  margin: 8px;
}
.RouteCard #route-name {
  line-height: 24px;
  font-size: 20px;
  max-height: 48px;
  margin: 0;
  margin-bottom: 8px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
.RouteCard .distance-elevation p {
  display: inline-block;
  margin-right: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.RouteCard .distance-elevation img {
  height: 1em;
  position: relative;
  top: 2px;
  margin-right: 6px;
}

#route-results {
  padding-bottom: 10px;
}
#learn-more {
  font-size: 10px;
}
#signout-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
